- &setting_0
  optim: &optim_defaults
    type: 'Adam'
    param:
      lr: 1.e-4
      eps: 1.e-15
      betas: [0.9, 0.999]

  scheduler: &scheduler_defaults
    type: 'cos'
    param:
      eta_min: 1.e-6

  model: &model_defaults
    type: 'HDINRBase'
    param: &model_param_defaults
      out_dim: 1
      default_act: 'ReLU'
      out_act: Sigmoid
      decoder_kwargs:
        type: 'FeatMLP'
        param:
          feat_dim: 128
          num_layers: 2
          out_dim: 1
          activation: 'ReLU'

      hidden_dim: 128
      # spatial enc
      encoder_kwargs:
        type: 'MultiDenseFeatGrid'
        param:
          grid_shapes:
          - [64, 64, 24]
          - [128, 128, 48]
          num_feat: 4
          refine_highest_res: [160, 160, 60]
          prerefine_feat_up_kwargs:
            g: 10

      if_refine: True

      spatial_fdim: 160

      # spatial refiner
      spatial_trans_kwargs:
        type: GLUFeatMLP
        param:
          feat_dim: 160
          out_dim: 160
          num_layers: 4
          hidden_mult: 3.2
          block_activation: ReLU
          use_norm: true
          skip_connection: true

      # condition refiner
      cond_trans_kwargs:
        type: 'GLUFeatMLP'
        param:
          feat_dim: 64
          out_dim: 64
          num_layers: 3
          hidden_mult: 2
          block_activation: ReLU
          use_norm: true
          skip_connection: true

      # condition enc
      latent_kwargs:
        type: 'MultiCondLatentLines'
        param:
          cond_dim: 4
          line_dims_list:
          - [4, 4, 4, 4]
          - [8, 8, 8, 8]
          - [16, 16, 16, 16]
          - [32, 32, 32, 32]
          latent_shape: [4]
          latent_init_kwargs:
            a: -0.001
            b: 0.001

      verbose: False

  dataset: &dataset_hdfield_defaults
    type: HDCurviFieldDataset
    param: &dataset_param_defaults
      # data_dir:
      # cond_path:
      # cond_split_path:
      # coord_path:
      # impsmp_coord_path:
      cond_batch: 16
      spatial_log2batch: 16
      data_min: -1.9253274202346802
      data_max: 30.346237182617188
      dims: [11845146]
      use_logdata: False

  train: &train_defaults
    reportsteps: 10
    teststeps: 10
    testname: mpas_graph/drrNet
    maxsteps: 50
    disable_scheduler: False
    train_scheme: hdinr_ddp
    grad_scalar: True
    num_workers: 8

  test: &test_defaults
    test_ckpt_indices: [-1]
    test_output_dir: eval
