- optim: &optim_defaults
    type: 'Adam'
    param:
      lr: 1.e-4
      eps: 1.e-15
      betas: [0.9, 0.999]

  scheduler: &scheduler_defaults
    type: 'cos'
    param:
      eta_min: 1.e-6

  model:
    type: 'KPlaneField'
    param:
      aabb: [0, 127]
      grid_config:
        grid_dimensions: 2
        input_coordinate_dim: 9
        output_coordinate_dim: 32
        resolution: [16, 16, 16, 25, 25, 25, 25, 25, 25]
      concat_features_across_scales: True
      multiscale_res: [1, 2, 4, 8]

  dataset: &dataset_hdfield_defaults
    type: HDFieldDataset
    param: &dataset_param_defaults
      # data_dir:
      # cond_path:
      # cond_split_path:
      # impsmp_coord_path:
      # impsmp_coord_path:
      dim_scale_factor: 0.5
      cond_batch: 32
      spatial_log2batch: 12
      data_min: 0.3576069474220276
      data_max: 41.920379638671875
      dims: [128, 128, 128]
      x_noise_std: 0.0046875
      x_noise_threshold: 0.0078125
      cond_noise_std: 0.001
      cond_noise_threshold: 0.0016665
      noise_interp_value: True


  train: &train_defaults
    reportsteps: 10
    teststeps: 10
    testname: clover_spatio_cond_gen/kplane
    maxsteps: 50
    disable_scheduler: False
    train_scheme: hdinr_ddp
    grad_scalar: True
    num_workers: 8

  test: &test_defaults
    test_ckpt_indices: [-1]
    test_output_dir: eval

- optim:
    <<: *optim_defaults

  scheduler:
    <<: *scheduler_defaults

  model:
    type: 'INR_FG'
    param:
      grid_shape: [48, 48, 48, 96, 96, 96, 16, 16, 16, 16, 16, 16]
      num_feat_3d: 32
      num_feat_2d: 32
      num_feat_1d: 16
      out_features: 1

  dataset:
    <<: *dataset_hdfield_defaults
    param:
      <<: *dataset_param_defaults

  train:
    <<: *train_defaults
    testname: clover_spatio_cond_gen/explorableINR

  test:
    <<: *test_defaults

- optim:
    <<: *optim_defaults
    type: 'Adam'
    param:
        lr: 1.e-4
        eps: 1.e-15
        betas: [0.9, 0.999]
    groups:
      - params: encoder_mlp_list
        lr: 1.e-5

  scheduler:
    <<: *scheduler_defaults

  model:
    type: 'KVMemoryModel'
    param:
      cond_dims: 6
      cond_hidden_dims: 10
      num_entries: 512
      key_dim: 16
      feature_dim_3d: 16
      feature_dim_1d: 32
      top_K: 8
      chunk_size: 512
      num_hidden_layers: 2
      mlp_encoder_dim: 256
      out_features: 1
      n_experts: 5
      manager_res: 16

  dataset:
    <<: *dataset_hdfield_defaults
    param:
      <<: *dataset_param_defaults

  train:
    <<: *train_defaults
    testname: clover_spatio_cond_gen/fainr

  test:
    <<: *test_defaults