compute_environment: LOCAL_MACHINE
debug: true
distributed_type: NO
enable_cpu_affinity: true
machine_rank: 0
mixed_precision: fp16
num_machines: 1
num_processes: 1
rdzv_backend: static
same_network: true
tpu_env: []
tpu_use_cluster: false
tpu_use_sudo: false
